<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <title>File Upload</title>
</head>
<body>
    <h1>hi! Upload a File</h1>
    <h2>Max file size: 1GB (1024 MB)</h2>
    <h3>Files larger than the maximum accepted will not be uploaded regardless of response on the screen.</h3>
    <form method="post" enctype="multipart/form-data" action="{{ url_for('upload.upload_file') }}" id="uploadForm">
        <input type="file" name="file" id="file">
        <input type="submit" value="Upload">
    </form>
    <div id="progressWrapper" style="display: none;">
        <span id="progressPercent">0%</span>
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}
    <p id="size" style="display: none;"></p>

    <script>
        $('#file').on('change', function() {
        size = parseFloat(this.files[0].size / 1024 / 1024).toFixed(2)
        
        $('#size').text("File size: " + size + " MB")
        $('#size').show()

        });

        $(document).ready(function() {
        $('#uploadForm').submit(function(event) {
            //event.preventDefault(); // Prevent the default form submission

            var formData = new FormData(this);
            var xhr = new XMLHttpRequest();

            xhr.upload.addEventListener('progress', function(event) {
                if (event.lengthComputable) {
                    var percentComplete = (event.loaded / event.total) * 100;
                    $('#progressPercent').text(Math.round(percentComplete) + '%');
                }
            }, false);

            xhr.addEventListener('load', function(event) {
                $('#progressWrapper').hide();
            }, false);

            xhr.open('POST', '/upload', true);
            xhr.send(formData);

            $('#progressWrapper').show();
            });
    });
    </script>
	<!--
    <script>
        // find file size
        $('#uploadForm').submit(function() {
            size = parseFloat($('#file')[0].files[0].size / 1024 / 1024).toFixed(2)
            if (size > 1024) {
                alert("File too large")
                return false
            }
        });
    </script>
    -->

</body>
</html>
